/*============ Common styles =========*/
body{
        font-family: 'Roboto', sans-serif;
        color: #434455;
        background-color: #fff;
}
.container {
    display: block;
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;    
}
/*======== скидання стилыв за замовчуванням ========*/
a{
    text-decoration: none;
    color: #2E2F42;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}
ul, ol {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}
button{
    cursor: pointer;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
/*============ /Common style =========*/

/*======== Header ========*/
.page-header {
    border-bottom: 1px solid #e7e9fc;
}
.page-nav {
    display: flex;  
    align-items: center;   
}
.menu {
    display: flex;   
}
.menu-item:not(:last-child) {
    margin-right: 40px;
}

.page-header-container{
    display: flex;
    justify-content: space-between;    
}
.logo {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        margin-right: 76px;
}

.logo-part {
    color: #2E2F42;
}

.menu-item > .menu-link {
    color: #2e2f42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    padding-top: 24px;   
}
.menu-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
}
.menu-link:hover,
.menu-link:focus {
    color: #404BBF;
    }
.menu-link:active {
    color: #404BBF;
}
.address {
    font-style: normal;    
}
.address-list {
    display: flex;
}
.address-item:not(:last-child) {
    margin-right: 40px;
}

.address-link {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.50;
        letter-spacing: 0.02em;
        color: #434455;
        display: block;
        padding-top: 24px;
        padding-bottom: 24px;
}
.address-link:hover,
.address-link:focus {
    color: #404bbf;
}
/*======== /Header ========*/

/*======== Hero section ========*/
.hero {
    background-color: #2e2f42;
    padding: 188px 0;
}
.hero-container {
    max-width: 100%;    
    margin: 0;    
}
 .title {
    text-align: center;
    font-size:56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #fff;
    max-width: 496px;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
 }   
 .button-link {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color:#fff;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    
 }
 .button-link:hover,
 .button-link:focus {
    background-color: #404bbf;
 }
/*======== /Hero section ========*/

/* ======== Advant section ======== */
.advant {
    padding: 120px 0;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.advant-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}
.advant-item {
    width: calc((100% - 72px) / 4);
}
.advant-item-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.item-dscr {
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/* ======== /Advant section ======== */

/* ======== Team section ======== */

.team {
color: #2e2f42;
background: #f4f4fd;
padding: 120px 0;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}
.team-title {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;   
}

.team-list-item {
   background-color: #fff;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;    
    text-align: center;
    margin-bottom: 8px;
}

.team-dscr {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}
.team-name-dscr {
    padding: 32px 0;
}
/* ======== /Team section ======== */

/* ======== Portfolio section ======== */
.portfolio {
    color: #2e2f42;  
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-title {
    font-size: 36px;
    text-align: center;
    letter-spacing: 0.02em;
    line-height: 1.11;  
    text-transform: capitalize;
    margin-bottom: 72px;
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-list-item {
    width: calc((100% - 48px) / 3);
}
.portfolio-list-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.portfolio-dscr {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.portfolio-name-dscr {
    padding: 32px 16px;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
}
/* ======== /Portfolio section ======== */

/* ======== Footer ======== */
.contacts{    
    background-color: #2e2f42;
    display: block;
    padding: 100px 0 100px;
}
.logo-footer-part{
    color: #f4f4fd;
}
.contacts-dscr {
    color: #f4f4fd;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.logo {
    display: inline-block;
    padding: 0;
    margin-bottom: 16px;
}
.contacts-dscr {
    margin-top: 16px;
    max-width: 264px;
}

/* ======== Footer ======== */